.crossed {
    text-decoration: line-through;
}

.container {
    width: 180px;
    margin-top: 5px;
}

.button {
    width: 20px;
    height: 15px;
    border: 1px solid red;
    border-radius: 10px;
}

