* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Avenir, sans-serif;
  font-weight: 500;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Avenir;
  src: url('/public/assets/fonts/Avenir-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
